[submodule "hackproject/code/api-server-modernization/a11y-theme-builder"]
	path = hackproject/code/api-server-modernization/a11y-theme-builder
	url = git@github.com:n370/a11y-theme-builder.git
	branch = refactor/replace-express-for-fastify
